/*importar fuente de google fonts*/
* {
    font-family: "Noto Sans", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
}

h1{
    color: #ffffff;
    font-size: 4rem;
    text-shadow: black 0.1em 0.1em 0.2em ;
}


h2{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em ;
}

h3{
font-size: 1.5rem;
color: #ffffff;   
text-shadow: black 0.1em 0.1em 0.2em ;

}

h4{
    font-size: 1.5rem;
    color: #ffffff;   
    text-shadow: black 0.1em 0.1em 0.2em ;
}


/*Ajustes personalizados del header y de la barra de navegación por fuera de Bootstrap*/

.header {
    background-color: #000;
}

.logo {
    max-height: 50px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1.5rem;
}

.navbar-nav .nav-link:hover {
    color: #c3bfbf; 
}

/* Ocultar el borde del botón hamburguesa */
.navbar-toggler {
    border: none;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

/*Seccion Main del index.html*/
/*Seccion Principal del index.html*/

.principalIndex{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-image: url("../assets/img/fondo_oscuro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    text-align: justify;
    gap: 50px;
    height: 100vh;
    padding: 10px;

    .textoPrincipal{
        .h1Subtitulo{
            font-size: 2rem;
            color: #ffffff;   
            text-shadow: black 0.1em 0.1em 0.2em ;
        }
    }

    .contenedorTextoPrincipalIndex{
        border:2px solid  #ffe3e9;
        padding:20px;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        color: #ffffff;
        backdrop-filter: blur(15px);
          
        p{
            font-size: 1.5em;
            padding-bottom: 20px;
            text-shadow: black 0.1em 0.1em 0.2em ;
        }
        a{
            display:inline-block;
            text-decoration: none;
            color: #ffffff;
            font-size: 1em;
            border:2px solid #ffffff;
            padding:20px;
            border-radius:5px;
            box-shadow: -10px 0px 35px 12px rgba(0,0,0,0.66);
        }
        a:hover{
            background-color: #c3bfbf;
            color: black;
        }
    }
}

/*Media Querie para Seccion Main Principal del index.html pantallas inferiores a 768px*/
@media (max-width: 768px) {

    .header{
        .logo{
            width: 100px;
        }
        display: flex;
        justify-content: space-evenly;
        height: auto;
        padding: 10px;
        nav{
            ul{
                display: flex;            
                flex-direction: column;
                align-items: center;

                li{
                    a{
                        text-decoration: none;
                        color:  #ffffff;
                        font-size: 1rem;
                    
                    }
                    a:hover{
                        color:  #c3bfbf;
                    }
                }
            
            }
        }   

    }


    .principalIndex {
        flex-direction: column;
        gap: 20px; 
        padding: 20px;
        height: auto; 
    }

    .textoPrincipal .h1Subtitulo {
        font-size: 1.2rem; 
        text-align: center;
    }

    .contenedorTextoPrincipalIndex {
        width: 90%; 
        padding: 15px; 
        font-size: 1em; 
    }

    .contenedorTextoPrincipalIndex p {
        font-size: 1.2em; 
    }

    .contenedorTextoPrincipalIndex a {
        font-size: 0.9em; 
        padding: 15px; 
    }
}


/*Seccion productos Destacados del index.html*/


.productosDestacados{
    background-color: gray;
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
    padding: 50px;
    
    .listadoProductosRecientes{
        width: 100%;
        margin:0 auto;
        height: 60vh;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 0px;
            height:100%;
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: .5s ease;
        }
        img:hover{
            width: 8%;
            opacity: 1;
            filter:contrast(120%);
        }
    }
    a{
        display:inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 1em;
        border:2px solid #ffffff;
        padding:20px;
        border-radius:5px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.378);
    }
    a:hover{
        background-color: #c3bfbf;
        color: black;
    }
}


/*Seccion Nosotros del index.html*/
.nosotros{
    text-align: center;
    padding:20px;
      height: auto;
      width: 100%;
    .contenedorNosotros{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60vh;
        width: 100%;
        gap: 50px;
        .nosotrosTexto{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 90%;
            border:2px solid  #ffe3e9;
            border-radius: 5px;
            text-align: center;
            font-size: 15px;
            color: #ffffff;
            backdrop-filter: blur(15px);
            padding: 20px;
            gap: 20px;
            
            p{
                font-size: 1.5em;
                line-height: 150%;
                padding-bottom: 10px;
            }
            a{
                display:inline-block;
                text-decoration: none;

                color: #ffffff;
                font-size: 1em;
                border:2px solid #ffffff;
                padding:10px;
                border-radius:5px;
                box-shadow: -10px 0px 35px 12px rgba(0,0,0,0.66);
            }
            a:hover{
                background-color: #c3bfbf;
                color: black;
            }
        }
        .nosotrosImagen{
            background-image: url("../assets/img/fondo_nosotros.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position:center;
            width: 60%;
            height: 100%;
        }
    }
}

/*Media Querie para Seccion Nosotros del index.html pantallas inferiores a 768px*/
@media (max-width: 768px) {
    .nosotros{
        .contenedorNosotros{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .nosotrosTexto{
                p{
                    font-size: 1em;
                    line-height: 150%;
                    padding-bottom: 10px;
            }
                
            }
        }
    }
}

@media (max-width: 1300px) {
    .nosotros{
        .contenedorNosotros{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .nosotrosTexto{
                p{
                    font-size: 1em;
                    line-height: 150%;
                    padding-bottom: 10px;
            }
                
            }
        }
    }
}



/*footer*/

.footer{
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    font-size: 10px;
    .logo{
        width: 200px;
    }
    
    ul{
        list-style: none;
        
        a{
            text-decoration: none;
            color:  #ffffff;
            font-size: 2em;
        }
        .fa-instagram, .fa-facebook{
            font-size: 2em;
        }
    }
    .fa-whatsapp{
        font-size: 5em;
        color:rgb(44, 181, 44);
        position:fixed;
        bottom: 20px;
        right: 20px;
       
    }
    p{
        font-size: 1.5em;
        color: white;
    }
    a:hover{
        color:  #c3bfbf;
    }
}

/*Media Querie para Seccion Footer del index.html pantallas inferiores a 768px*/
@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px 20px;
        text-align: center;

        .logo {
            width: 80px; /* Tamaño reducido para adaptarse a pantallas pequeñas */
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                font-size: 1.2em;
                text-decoration: none;
                color: #ffffff;
                transition: color 0.3s;
            }

            .fa-instagram, .fa-facebook {
                font-size: 2em;
                margin: 5px 10px;
            }
        }

        p {
            font-size: 1em;
            margin-top: 20px;
        }
    }
}


/*Pagína productos*/

.card {
    margin-bottom: 30px;
    max-width: 300px; 
}

.card img {
    height: 500px; 
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.card-price {
    font-size: 0.9rem; 
}





.principalArticulos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    gap:40px;
    background-image: url("../assets/img/fondo_articulos.png");

    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    height: auto;
    text-align: left;
    .principalArticulosTitulo{
        h1{
            font-size: 3rem;
        }
         .h1Subtitulo{
            font-size: 2rem;
            color: #ffffff;   
            text-shadow: black 0.1em 0.1em 0.2em ;
    }
    }
    .contenedorTextoPrincipalArticulos{
        display: flex;
        justify-content: center;
        align-items: center;
        border:3px solid  #000000;
        padding:10px;
        border-radius: 5px;
        text-align: justify;
        width: 50%;
        height: auto;
        font-size: 1em;
        color: #ffffff;   
        text-shadow: black 0.1em 0.1em 0.2em ;
        backdrop-filter: blur(15px);
        
          
        p{
            font-size: 1.2em;
        }

    }
}

.tituloArticulos {
    padding: 50px;
    text-align: center;
}

.galeriaArticulos {
    padding:20px;
    margin:0 auto;
    width: 90%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
    .tarjetasArticulos{
        
        width: 400px;
        height: 600px;
        text-align: center;
        padding: 10px;
        box-shadow: 4px 4px 4px 4px rgba(255, 255, 255, 0.361); 

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        img{
            object-fit: cover;
            border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 80%;
                height: 80%;

            }
            h4{
            color: white;
            font-size: 1.2em;
            }
            p{
            color: white;
            }
            a{
            color: white;
            font-size: 1.5em;
            }
            a:hover{
            color: bisque;
            font-size: 1.7em;
        }



    }
}

.textoProductos{padding-left:20px;
padding-right:20px;
margin-bottom: 40px;
}   

/*Media Querie para Seccion Articulos de la página productos.html pantallas inferiores a 768px*/
@media (max-width: 768px) {
    .principalArticulos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .contenedorTextoPrincipalArticulos{
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            font-size: 1em;

         }
        .galeriaArticulos{
            .tarjetasArticulos{
                width: 200px;
                height: 400px;
            }
            img{
                width: 200px;
                height: 400px;
            }
        }

    }


        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch; /
        }
    
        table {
            width: 100%; 
            font-size: 14px; 
        }
    
        th, td {
            white-space: nowrap; 
        }
        .btn {
            padding: 5px 10px;
            font-size: 12px; 
        }
    
        input[type="number"] {
            width: 50px; 
        }


        
}



/*Página Contacto*/
.principalContacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-image: url("../assets/img/fondo_contacto.jpg");
    background-color: rgb(72, 72, 72);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    text-align: left; 
}

.principalContacto h1 {
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.h1Subtitulo {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: 5px;
}


.col-lg-6{
    padding: 100px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 10px;
    
   

    .botones{
       display: flex;
       justify-content: space-evenly;
        gap: 30px;
        button{
            display:inline-block;
            color: #ffffff;
            background-color: black;
            font-size: 1em;
            border:2px solid #ffffff;
            padding:10px;
            border-radius:5px;
            box-shadow: -10px 0px 35px 12px rgba(0,0,0,0.66);
        }
        button:hover{
            background-color: #c3bfbf;
            color: black;
        }
    }

}

.container-fluid{
    background-color: rgb(0, 0, 0);
}


/*Página Carrito*/

.principalCarrito {
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 20px;
    background-image: url("../assets/img/fondo-carrito.jpg");
    background-color: rgb(72, 72, 72);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    text-align: left; 
}

.principalContacto h1 {
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.h1Subtitulo {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: 5px;
}

.swal2-dark {
    background-color: #2d2d2d !important;
    color: #ffffff !important;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
